
main-blx.bib
main.aux
main.bbl
main.blg
main.log
main.out
main.pdf
main.run.xml
main.synctex.gz

# while scraping
Exam/scraping_code.ipynb

# Logs and checkpoints
*.log
Exam/.ipynb_checkpoints/
Exam/Graphics/.ipynb_checkpoints/

# Files > 100 MB
Exam/Flights.pkl
Exam/BTSTable6.csv
Exam/Data/2007.csv.bz2
Exam/Data/StatComputing2007.csv
Exam/StatComputing2007.csv
