
main-blx.bib
main.aux
main.bbl
main.blg
main.log
main.out
main.pdf
main.run.xml
main.synctex.gz
*.ipynb_checkpoints*
*.log
Exam/BTSTable6.csv
Exam/Data/2007.csv.bz2
Exam/Data/StatComputing2007.csv
Exam/Flights.pkl
Exam/StatComputing2007.csv
Exam/scraping_code.ipynb
Exam/2007.csv.bz2
